// media aliases and breakpoints
$screen-small-min: 500px;
$screen-medium-min: 768px;
$screen-large-min: 1440px;


@mixin screen-small {
    @media screen and (min-width: #{$screen-small-min}) {
      @content;
    }
}

@mixin screen-medium {
    @media screen and (min-width: #{$screen-medium-min}) {
      @content;
    }
}

@mixin screen-large {
    @media screen and (min-width: #{$screen-large-min}) {
        @content;
    }
}
