@import "font";
$black-dark: #2D2D2D;
$gray-light: #F6F6F6;
$gray-dark: #73777C;
$gray-darker: #65737E;
$gray-ligter: #E0E4E8;
$gold: #FFD200;
$fern: #00A082;
$scarlet: #FF3200;


$primary-font: "brandon-grotesque",sans-serif;
$second-font: "bitter",serif;
$font-normal: 400;
$font-bold: 700;

$primary-font-color: $black-dark;
$second-font-color: $gray-dark;
$bg-color: $gray-light;
$border-light: $gray-ligter;
